<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Detalles de la habilidad</title>
</head>

<body>
    <div id="content">
        <h1>Gestor de Empleados</h1>

        <h2>Datos de la habilidad</h2>

        {% if habilidad %}
        <h3>{{ habilidad.nombre}}</h3>
        <h3>Lista de empleados</h3>

        {% if empleados %}
        <ol>
            {% for e in empleados %}
            <li>
                <a href="/appEmpresaDjango/empleados/{{ e.id }}">{{ e.nombre}}</a>
            </li>
            {% endfor %}
        </ol>
        {% else %}
        <p>No tiene empleados asociados.</p>
        {% endif %} {% else %}
        <p>No existe esta habilidad.</p>
        {% endif %}

    </div>
</body>

</html>