<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Listado de departamentos</title>
</head>

<body>
    <div id="content">
        <h1>Gestor de Empleados</h1>
        <h2>Listado de departamentos</h2>
        {% if lista_departamentos %}
        <ul>
            {% for d in lista_departamentos %}
            <li>
                <a href="/appEmpresaDjango/departamentos/{{ d.id }}">{{ d.nombre}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No hay departamentos creados.</p>
        {% endif %}
    </div>
</body>

</html>